.user_card {
  padding: 10px;
  margin-bottom: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.user_img {
  height: 250px;
  object-fit: contain;
}
